{% extends "base.html" %}
{% block title %}我的错题{% endblock %}
{% block content %}
<div class="row g-4">
  <aside class="col-12 col-lg-3"><div class="question-card p-3">{% include "question_bank/_filters.html" %}</div></aside>
  <section class="col-12 col-lg-9">
    <h1 class="h3 mb-3">我的错题</h1>
    {% for question in page_obj %}{% include "question_bank/_question_card.html" %}{% empty %}<p>错题本为空。</p>{% endfor %}
    {% include "question_bank/_pagination.html" %}
  </section>
</div>
{% endblock %}
